extends layout.pug

block content
  section.review
    h2 Survey Details
    p.question.
      Question: #{data.question}
    ul
      each val in data.answers
        li= val
    aside.meta
      p.
        URL to share: <a href='#{data.shareUrl}'>#{data.shareUrl}</a>
      p.
        Admin URL (don't lose this!): <a href='#{data.adminUrl}'>#{data.adminUrl}</a>

  section.responses
    h2 Responses
    each res in data.responses
      aside.response
        p From #{res.name} on DATE: #{res.answer}
